@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Poller+One&family=Raleway:wght@100;500;600;800&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Poller One', cursive;
    background-image: url('../Images/sky.jpg');
    color: goldenrod;
}
header{
    background-color:rgba(60,69,67,0.6);
    border-radius: 15px 15px 0 0;
}
nav > ul{
    list-style: none;
    position: fixed;
    top: 5px;
}
h1{
    text-align: center;
    padding: 0.5em 0;
}

nav li{
    border: 2px solid black;
    display: inline;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
}
footer
{
    background-color:rgba(60,69,67,0.6);
    border-radius: 0 0 15px 15px;
    height: 4em;
    clear: both;
}
.button{
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    border:2px solid black;
    width: fit-content;
    height: 2em;
    cursor: pointer;
    
    position: relative;
    top:1em;
    left: 352px;
    
    
}
.button > p{
    padding-top: 0.45em;
    font-size: 0.8em;
}
.email {
    font-size: 1.2em;
    color: black;
    font-variant: small-caps;
}

.left
{
    float:left;
    margin: 5px 15px 0 5px;
}
.right{
    float:right;
    margin: 5px 5px 0;
}
.box-right-images img{
    width: 160px;
    box-shadow: none;
}

.farGalaxy {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.6;
    text-align: justify;
}

.bottomLeft{
border-bottom-left-radius: 15px ;
}
.bottomRight
{
    border-bottom-right-radius: 15px;
}
img{
    box-shadow: rgba(60,69,67,0.6) 10px 10px;
}

.box-right-images{
    float: right;
    display: flex;
    height: 360px;
    width: 480px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 1px goldenrod solid;
    border-radius: 0 0 15px 15px;
}
.dreamteam{
margin-left: 70vw;
}
